@model LibBooking.Models.LibrarianAppointmentViewModel

@{
    ViewData["Title"] = "Book a Consultation with Librarian";
}

<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">Book a Consultation with Librarian</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-dark py-2">@Model.AppointmentDate.ToString("dddd, dd MMMM yyyy")</h2>
            <input type="date" id="datePicker" value="@Model.AppointmentDate.ToString("yyyy-MM-dd")" class="form-control" />
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Librarian</th>
                        @for (var hour = 8; hour < 18; hour++)
                        {
                            <th>@hour:00</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var librarian in Model.Librarians)
                    {
                        <tr>
                            <td data-librarian-name="@librarian.Name">@librarian.Name<br /><small>@librarian.Campus</small></td>
                            @for (var hour = 8; hour < 18; hour++)
                            {
                                var appointment = Model.Appointments.FirstOrDefault(a => a.LibrarianID == librarian.ID && a.StartTime.Hours == hour);
                                if (appointment != null)
                                {
                                    <td class="reserved" title="Reserved"></td>
                                }
                                else
                                {
                                    <td class="available" data-librarian-id="@librarian.ID" data-hour="@hour"></td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- 添加 Notes 输入框 -->
    <div class="form-group mt-3">
        <label for="inquiryType">Your Inquiry/Notes:</label>
        <select id="inquiryType" name="InquiryType" class="form-control" required>
            <option value="" disabled selected hidden>Select inquiry type</option>
            <option value="Referencing">Referencing</option>
            <option value="Research Support">Research Support</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <div class="form-group mt-3" id="otherInquiryGroup" style="display: none;">
        <label for="otherInquiry">Please specify:</label>
        <input type="text" id="otherInquiry" name="OtherInquiry" class="form-control" placeholder="Enter your inquiry or notes here" />
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <button id="submitBtn" class="btn btn-primary bg-gradient border-0 form-control submit-appointment-btn">Submit Appointment</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('datePicker').addEventListener('change', function () {
            var selectedDate = this.value;
            window.location.href = '@Url.Action("Create", "LibrarianAppointment")?date=' + selectedDate;

        });

        document.querySelectorAll('.available').forEach(cell => {
            cell.addEventListener('click', function () {
                document.querySelectorAll('.available').forEach(c => c.classList.remove('selected'));
                if (!this.classList.contains('selected')) {
                    this.classList.add('selected');
                }
            });
        });

        document.getElementById('inquiryType').addEventListener('change', function () {
            var selectedValue = this.value;
            var otherInquiryGroup = document.getElementById('otherInquiryGroup');
            if (selectedValue === 'Other') {
                otherInquiryGroup.style.display = 'block';
            } else {
                otherInquiryGroup.style.display = 'none';
            }
        });

        document.getElementById('submitBtn').addEventListener('click', function (event) {
            event.preventDefault(); // Prevent default form submission behavior

            var selectedInquiryType = document.getElementById('inquiryType').value;
            var otherInquiryValue = document.getElementById('otherInquiry').value;
            var inquiryValue = selectedInquiryType === 'Other' ? otherInquiryValue : selectedInquiryType;
            var selectedCell = document.querySelector('.available.selected');

            // Check if an inquiry type is selected
            if (!selectedInquiryType) {
                alert('Please select an inquiry type.');
                return;
            }

            // Check if "Other" is selected and an inquiry value is provided
            if (selectedInquiryType === 'Other' && !otherInquiryValue) {
                alert('Please specify your inquiry.');
                return;
            }

            if (selectedCell) {
                var selectedTime = selectedCell.getAttribute('data-hour');
                var selectedLibrarianId = selectedCell.getAttribute('data-librarian-id');
                var selectedLibrarianName = selectedCell.parentNode.querySelector('td[data-librarian-name]').getAttribute('data-librarian-name');
                var selectedDate = document.getElementById('datePicker').value;

                // 构造URL参数
                var urlParams = new URLSearchParams({
                    librarianId: selectedLibrarianId,
                    librarianName: selectedLibrarianName,
                    appointmentDate: selectedDate,
                    startTime: selectedTime + ":00:00", // 修改为符合TimeSpan格式
                    endTime: (parseInt(selectedTime) + 1) + ":00:00", // 修改为符合TimeSpan格式
                    notes: inquiryValue,
                });

                // 重定向到AppointmentConfirmed页面
                window.location.href = '@Url.Action("AppointmentConfirmed", "LibrarianAppointment")?' + urlParams.toString();
            } else {
                alert('Please select a time slot.');
            }
        });
    </script>

    <style>
        .available {
            background-color: green !important;
            cursor: pointer;
        }

        .available.selected {
            background-color: yellow !important;
        }

        .reserved {
            background-color: red !important;
        }

        .container {
            padding-bottom: 60px; /* Ensure there's enough space at the bottom */
        }

        .submit-appointment-btn {
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            text-align: center;
            background-color: #343a40;
            color: #ffffff;
            border-radius: 5px;
        }
    </style>
}