@model IEnumerable<LibBooking.Models.Reservation>

@{
    ViewData["Title"] = "Manage Room Reservations";
}

<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">Manage Room Reservations</h2>
        </div>
    </div>
</div>

<table id="reservationsTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
@*             <th>ID</th>
            <th>Room ID</th> *@
            <th>Room Name</th>
            <th>Reservation Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Student Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
@*                 <td>@reservation.ID</td>
                <td>@reservation.RoomID</td> *@
                <td>@reservation.Room.RoomName</td>
                <td>@reservation.ReservationDate.ToString("yyyy-MM-dd")</td>
                <td>@reservation.StartTime</td>
                <td>@reservation.EndTime</td>
                <td>@reservation.Email</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/manage.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const message = '@TempData["Message"]';  // No need to serialize this.
            const messageType = '@TempData["MessageType"]';  // No need to serialize.

            // Ensure both message and messageType are not empty before showing SweetAlert
            if (message && messageType) {
                Swal.fire({
                    icon: messageType === "success" ? 'success' : 'error',
                    title: messageType === "success" ? 'Success' : 'Error',
                    text: message,
                    showConfirmButton: true,
                    timer: 3000
                });
            }
        });
    </script>
}
