@model IEnumerable<LibBooking.Models.Reservation>

@{
    ViewData["Title"] = "Manage Reservations";
}

<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">Manage Reservations</h2>
        </div>
    </div>
</div>

@* <h1>Manage Reservations</h1> *@

@* <table class="table table-bordered table-striped"> *@
<table id="reservationsTable" class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>ID</th>
            <th>Room ID</th>
            <th>Reservation Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.ID</td>
                <td>@reservation.RoomID</td>
                <td>@reservation.ReservationDate.ToString("yyyy-MM-dd")</td>
                <td>@reservation.StartTime</td>
                <td>@reservation.EndTime</td>
                <td>@reservation.Email</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

@* <a asp-action="Index" class="btn btn-secondary">Back to List</a> *@<!-- Don't think we need this' -->

                            @section Scripts {
            <script src="~/js/manage.js"></script>

        }
